---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>JADWALNI</title>
	</head>

	<body>
	<h1>JADWALNI | جدولني </h1>
	<h2>Stay Active.</h2>
	<p>Home</p>
	</body>
</html>
